body {
  background-image: url("../Imagenes/acuarela.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aquamarine;
}

.titpag {
  color: rgb(10, 92, 44);
  text-decoration-line: underline;
  text-decoration-color: white;
  text-align: center;
  font-size: 550%;
}

header {
  background-color: red;
}
nav {
  text-align: center;
  font-size: 150%;
}

section {
  background-image: url(../Imagenes/italia.jpg.webp);
}
.titulo {
  color: rgb(31, 76, 82);
  text-decoration-line: underline;
  text-align: center;
  font-size: 500%;
}

.subtitulo {
  text-align: center;
  font-size: 200%;
}

.descripcion {
  text-align: center;
}

.subt {
  color: rgb(31, 56, 2);
  text-decoration-line: underline;
}

.receta {
  font-size: 200%;
  text-decoration-line: underline;
}

.imgcont {
  margin: auto;
  width: fit-content;
}

.img {
  width: 450px;
}

.facebook {
  width: 100px;
}
.twitter {
  width: 100px;
}
.instagram {
  width: 100px;
}
.whatsapp {
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}