@import url("https://fonts.googleapis.com/css2?family=Marhey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../Imagenes/acuarela.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aquamarine;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  border-style: dotted;
  border-color: black;
}

.titpag {
  color: rgb(10, 92, 44);
  text-decoration-line: underline;
  text-decoration-color: white;
  font-size: 400%;
  margin: auto;
  font-family: "Rubik Distressed", cursive;
}

header {
  background-color: rgb(218, 153, 153);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 100vw; */
}
a:hover {
  color: rgb(160, 223, 34);
  filter: drop-shadow(3px 2px 20px);
}
.redes {
  font-size: small;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  border-color: rgb(20, 31, 31);
  border-style: dashed;
}

nav {
  text-align: center;
  font-size: 150%;
  font-family: "Rubik Bubbles", cursive;
}

.sectionprincipal {
  background-image: url(../Imagenes/italia.jpg.webp);
}
.contacto {
  background-color: rgb(154, 157, 134);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: flex-end;
}

.titulo {
  color: rgb(31, 76, 82);
  text-decoration-line: underline;
  text-align: center;
  font-size: 500%;
  font-family: "Marhey", cursive;
}

.subtitulo {
  text-align: center;
  font-size: 200%;
}

.descripcion {
  text-align: center;
}

.subt {
  color: rgb(31, 56, 2);
  text-decoration-line: underline;
  margin-bottom: 2%;
  margin-top: 2%;
}
.contreceta {
  margin-left: 5%;
  margin-bottom: 2%;
}
.receta {
  font-size: 200%;
  text-decoration-line: underline;
}
.video {
  margin-left: 3%;
}
.video iframe {
  width: 60vw;
  height: 40vw;
}
.imgcont {
  margin: auto;
  width: fit-content;
}
.mapa1 {
  margin-left: 3%;
}
.mapa1 iframe {
  width: 60vw;
  height: 40vw;
}
.img {
  width: 80vw;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flotante:hover {
  filter: none;
}

.barrio {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
}

.facebook {
  width: 50px;
}
.twitter {
  width: 50px;
}
.instagram {
  width: 50px;
}
.whatsapp {
  width: 75px;
  position: fixed;
  bottom: 9px;
  right: 9px;
}
.whatsapp:hover {
  scale: 1.1;
}
a {
  text-decoration: none;
}
